<h1>Posts Posts Posts!</h1>

<p>Post something cool to Aunt</p>

<form action="/cool_url" method="post">
  <input type="text" name="user_input">
  <input type="submit" value="Say It!">
</form>

<p>URL parameters:</p>
<%= params %>
